@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Super Sedan";
  src: url("/fonts/super-sedan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Super Sedan", sans-serif;
  color: white;
}

.page {
  width: 100%;
  height: calc(100vh - 104px);
}

.dtc-switch {
  width: 100%;
  max-width: 435px;
  height: 424px;
  background-image: url("/images/Flow 01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dtc-switch.animation {
  animation: change 0.5s linear;
}

@keyframes change {
  0% {
    background-image: url("/images/Flow 01.png");
  }
  25% {
    background-image: url("/images/Flow 02.png");
  }
  50% {
    background-image: url("/images/Flow 03.png");
  }
  75% {
    background-image: url("/images/Flow 02.png");
  }
  100% {
    background-image: url("/images/Flow 05.png");
  }
}

@keyframes scrolling {
  0% {
    top: 0px;
  }
  100% {
    bottom: 80px;
  }
}

.modal-bg {
  background: linear-gradient(
    180.07deg,
    rgba(0, 120, 136, 0) 67.43%,
    #006875 87.24%
  );
}

.flow-1 {
  position: absolute;
  left: 15%;
}

.flow-2 {
  position: absolute;
  left: 26%;
}

.flow-3 {
  position: absolute;
  left: 36.5%;
}

@media (max-width: 320px) {
  .flow-1 {
    left: 3%;
  }
  .flow-2 {
    left: 17%;
  }
  .flow-3 {
    left: 32%;
  }
}

@media (max-width: 375px) {
  .flow-1 {
    left: 10%;
  }
  .flow-2 {
    left: 22%;
  }
  .flow-3 {
    left: 34%;
  }
}
