@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Super Sedan";
  src: url("/fonts/super-sedan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Super Sedan", sans-serif;
  color: white;
}

.page {
  width: 100%;
  height: calc(100vh - 104px);
}

.dtc-switch {
  width: 435px;
  height: 424px;
  background-image: url("/images/PIC-03.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dtc-switch.animation {
  animation: change 2s linear;
}

@keyframes change {
  0% {
    background-image: url("/images/PIC-01.png");
  }
  /* 25% {
    background-image: url("/images/PIC-02.png");
  } */
  50% {
    background-image: url("/images/PIC-03.png");
  }
  75% {
    background-image: url("/images/PIC-04.png");
  }
  100% {
    background-image: url("/images/PIC-01.png");
  }
}